<!--
  DESARROLLEMOS UNA APP DONDE PODAMOS LISTAR PRODUCTOS DE COMPRA DINAMICAMENTE,
  QUE LLENAMOS POR MEDIO DE UN FORMULARIO.
  LOS PRODUCTOS DEBEN TENER LAS SIGUIENTES PROPIEDADES:
  NOMBRE, PRECIO, NOMBRE DEL VENDEDOR.
-->
<button *ngIf="dataSubmitted" (click)="onClickAdd()">Add Vendedor</button>
<app-product-list 
[productos]="data" 
*ngIf="dataSubmitted" 
(vendedorToEdit)="onPassEdit($event)" 
(productosUpdated)="onUpdateDeleteProductos($event)"
></app-product-list>
<app-product-form 
(itemAdded)="onItemAdd($event)" 
*ngIf="!dataSubmitted" 
[vendedorToEdit]="vendedorToEdit"
(itemEdited)="onItemEdit($event)">
</app-product-form>
